#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: yellowgreen;
}

.parent {
	text-align: inline-block;
  }
  .parent > #hob1 {
	display: inline-block;
  }

  #logo{
	  height: 300%;
	  width: 10%;
  }
