#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: rgb(238, 143, 35);
}

.parent {
	text-align: inline-block;
  }
  .parent > #hob1 {
	display: inline-block;
  }

  #logo{
	  height: 300%;
	  width: 10%;
  }
  h1{
    padding: 0;
	text-align: center;
   	border-bottom: 3px solid rgb(2, 59, 214); 
   	line-height: 0px;
   	margin: 10px 0 20px; 
}
h1 span { 
    background:rgb(255, 255, 255); 
    padding:0 20px; 
}
a:hover{
	background : rgb(201, 113, 12);
}
